In [29]:
data = read.csv('../data/train.csv', header=T)
testInput = read.csv('../data/test.csv', header=T)
head(data)
summary(testInput)
dim(data)

  ID YearBuilt SqFt Story Acres Baths Fireplaces   Zip   Value
1  1      1990 2102   1.0  0.77    NA          1 27603  203200
2  2      1986 1740   1.5  0.06     3          1 27604  119096
3  3      1955  795   1.0  0.30     1          0 27610   71666
4  4      1983 1152   1.0  0.68     2          0 27616  131103
5  5      2003 1404   1.0 39.38     2          0 27519 4904102
6  6      1924 1829   1.5  0.25     3          1 27607  496425

       ID          YearBuilt         SqFt          Story           Acres
 Min.   : 1.00   Min.   :1947   Min.   : 900   Min.   :1.000   Min.   :0.0300
 1st Qu.: 3.25   1st Qu.:1967   1st Qu.:1068   1st Qu.:1.000   1st Qu.:0.1725
 Median : 5.50   Median :1984   Median :1485   Median :1.000   Median :0.2150
 Mean   : 5.50   Mean   :1977   Mean   :1571   Mean   :1.375   Mean   :0.2470
 3rd Qu.: 7.75   3rd Qu.:1987   3rd Qu.:1856   3rd Qu.:1.938   3rd Qu.:0.2825
 Max.   :10.00   Max.   :1995   Max.   :2678   Max.   :2.000   Max.   :0.5600
     Baths         Fireplaces        ZIP
 Min.   :1.000   Min.   :0.00   Min.   :27513
 1st Qu.:1.625   1st Qu.:0.25   1st Qu.:27560
 Median :2.000   Median :1.00   Median :27608
 Mean   :2.050   Mean   :0.70   Mean   :27586
 3rd Qu.:2.500   3rd Qu.:1.00   3rd Qu.:27612
 Max.   :3.000   Max.   :1.00   Max.   :27616

[1] 90  9

In [31]:
# impute the NA value in the bath by its average
data$Baths[is.na(data$Baths)] = round(mean(data$Baths, 
                                             na.rm=T),0)
data = data[,-1] #exclude the ID
testInput = testInput[,-1] #exclude the ID
data$Zip = as.factor(data$Zip)
head(data)
head(testInput)

  SqFt Story Acres Baths Fireplaces   Zip   Value
1 2102   1.0  0.77     2          1 27603  203200
2 1740   1.5  0.06     3          1 27604  119096
3  795   1.0  0.30     1          0 27610   71666
4 1152   1.0  0.68     2          0 27616  131103
5 1404   1.0 39.38     2          0 27519 4904102
6 1829   1.5  0.25     3          1 27607  496425

  SqFt Story Acres Baths Fireplaces   ZIP
1 1752  1.00  0.29   1.5          1 27604
2 2678  1.75  0.17   3.0          1 27613
3 1024  2.00  0.03   1.5          0 27616
4 2340  1.00  0.56   2.5          1 27610
5 1104  1.00  0.51   2.0          1 27545
6  900  1.00  0.25   1.0          0 27607

In [9]:
#Further split data into a training set and a test set
set.seed(1)
trainIdx = sample(1:nrow(data), round(nrow(data)*3/4, 0))
testIdx = (-trainIdx)

x.train = model.matrix(Value~., data=data[trainIdx,])[,-1]
x.test = model.matrix(Value~., data=data[testIdx,])[,-1]
y.train = data[trainIdx,]$Value
y.test = data[testIdx,]$Value

In [10]:
head(x.train)
head(y.train)

   YearBuilt SqFt   Story Acres  Baths Fireplaces Zip27511 Zip27513 Zip27518
24 "1961"    "1620" "1"   "0.61" "2"   "1"        "0"      "0"      "0"
34 "1971"    "1168" "1"   "0.2"  "1.5" "0"        "0"      "0"      "0"
51 "1987"    "1080" "1"   "0.3"  "2"   "1"        "1"      "0"      "0"
80 "1981"    "1764" "1"   "0.66" "2"   "1"        "0"      "0"      "0"
18 "1959"    "1911" "1"   "0.28" "3"   "1"        "0"      "0"      "0"
77 "1960"    "1740" "1"   "0.47" "2"   "1"        "0"      "0"      "0"
   Zip27519 ⋯   Zip27607 Zip27608 Zip27609 Zip27610 Zip27612 Zip27613 Zip27614
24 "0"      "⋯" "0"      "0"      "0"      "0"      "0"      "0"      "0"
34 "0"      "⋯" "0"      "0"      "0"      "0"      "0"      "0"      "0"
51 "0"      "⋯" "0"      "0"      "0"      "0"      "0"      "0"      "0"
80 "0"      "⋯" "0"      "0"      "0"      "0"      "1"      "0"      "0"
18 "0"      "⋯" "1"      "0"      "0"      "0"      "0"      "0"      "0"
77 "0"      "⋯" "0"      "0"      "0"      "0"      "0"      "0"      "0"
   Zip27615 Zip27616 Zip27617
24 "0"      "0"      "0"
34 "0"      "0"      "0"
51 "0"      "0"      "0"
80 "0"      "0"      "0"
18 "0"      "0"      "0"
77 "0"      "0"      "0"

[1] 128105 127708 159332 320419 318360  92749

In [28]:
#Multiple Linear Regression
#Fit the model on the training set
lm.fit = lm(y.train~., data = data.frame(x.train))
#summary(lm.fit)
#Predict the response on test set
lm.pred = predict(lm.fit, data.frame(x.test))
#Compute the test MSE
test.MSE = mean((lm.pred - y.test)^2)
#test.MSE
#Predict the property value using the testInput data
testInput = model.matrix(~., data = data.frame(testInput))[,-c(1,2,3)]
#lm.prediction = predict(lm.fit, data.frame(testInput))
testInput

Warning message in predict.lm(lm.fit, data.frame(x.test)):
“prediction from a rank-deficient fit may be misleading”

   ID YearBuilt SqFt Story Acres Baths Fireplaces   ZIP
1   1      1967 1752  1.00  0.29   1.5          1 27604
2   2      1987 2678  1.75  0.17   3.0          1 27613
3   3      1986 1024  2.00  0.03   1.5          0 27616
4   4      1963 2340  1.00  0.56   2.5          1 27610
5   5      1995 1104  1.00  0.51   2.0          1 27545
6   6      1947  900  1.00  0.25   1.0          0 27607
7   7      1990 1890  2.00  0.18   2.5          1 27513
8   8      1985 1056  1.00  0.18   2.0          0 27529
9   9      1984 1550  2.00  0.04   2.5          1 27612
10 10      1967 1420  1.00  0.26   2.0          1 27610

In [106]:
#Perform best subset selection on the training data
library(leaps)
Value = train$Value
regfit = regsubsets(Value~., data = train, nvmax = ncol(train)-1)
regfit.summary = summary(best.fit)
#Find the fitted model with the lowest Cp, lowest BIC and the highest adjusted R-squared value
i.cp = which.min(best.summary$cp)
i.bic = which.min(best.summary$bic)
i.adjr2 = which.max(best.summary$adjr2)
coef(regfit, id=i.cp)
coef(regfit, id=i.cp)
coef(regfit, id=i.cp)
#We use YearBuilt, SqFt, Acres, and Zip to predict the property values on the test set
lm.fit = lm(Value~YearBuilt+SqFt+Acres+Zip, data = train)
lm.pred = predict(lm.fit, test)
lm.pred

  (Intercept)     YearBuilt          SqFt         Acres           Zip
-1.163471e+07 -1.723808e+03  1.698484e+02  1.230981e+05  5.406548e+02

  (Intercept)     YearBuilt          SqFt         Acres           Zip
-1.163471e+07 -1.723808e+03  1.698484e+02  1.230981e+05  5.406548e+02

  (Intercept)     YearBuilt          SqFt         Acres           Zip
-1.163471e+07 -1.723808e+03  1.698484e+02  1.230981e+05  5.406548e+02

        1         2         3         4         5         6         7         8
230809.35 341759.67  47664.28 373930.55  67449.51 118907.88 152363.76  28310.43
        9        10
139514.65 173977.83